<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GUI</title>
    <style>
    table, th {
      border: 1px solid black;
      padding: 5px;
    }
    table {
      border-spacing: 15px;
    }
    button {
      width: 70px;
      height: 25px;
      font-size: 15px;
      font-weight: 400;
      line-height: 1.4;
      color: white;
    }

    .labelInput {
        font-weight: 400;
        font-size: 15px;
        line-height: 1.4;
        font-family: Arial;
        text-align: center;
        float: left;
        width: 60%;
        margin-left: -3px;
    }

    .circle {
        background-color: silver;
        width: 20px;
        height: 20px;
        float: left;
        border: 1px solid black;
        border-radius: 20px;
        text-align: left;
        margin-left: -6px;
    }
    </style>
    <script type="text/javascript" src="{{ url_for('static', filename = 'jquery-3.3.1.min.js') }}"></script>
    <script>
        //$.ajaxSetup({ cache: false });
        var colors;
        var io_array;
        var io = {{ io_array | safe }};

        var io_names = ['AD0','AD1','AD2','AD3','AD4','AD5','AD6','AD7',
                        'AC0','AC1','AC2','AC3','AC4','AC5','AC6','AC7',
                        'BD0','BD1','BD2','BD3','BD4','BD5','BD6','BD7',
                        'BC0','BC1','BC2','BC3','BC4','BC5','BC6','BC7']
        window.onload = function(){
            if (Object.keys(io).length == 32) {
                for(var i = 0; i<Object.keys(io).length; i++){
                    if (io[i] == "output"){
                        document.getElementById(io_names[i]).innerHTML = '<button id="' + io_names[i] + '_in" onclick="sendJSONButton(this)">' + io_names[i] + '</button>'
                    }
                    else if (io[i] == "input"){
                        document.getElementById(io_names[i]).innerHTML = '<center><div class="labelInput">' + io_names[i] + '</div><div class="circle" id="' + io_names[i] + '_in"></div></center>'
                    }
                }
            }
        };

        function sendJSONButton(id) {
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
            $.ajax({
              type: "POST",
              contentType: "application/json; charset=utf-8",
              url: $SCRIPT_ROOT+"/toggleGPIO",
              data: JSON.stringify({GPIO: id.innerHTML}),
              success: function (data) {
                setColors();
              },
              dataType: "json"
            });
        };

        function getDataJSONColor() {
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
            $.getJSON($SCRIPT_ROOT+"/getColorJSON").then(
                function(data) {
                    dataColor = data;
                    document.getElementById("AD0_in").style.backgroundColor = dataColor[0]
                    document.getElementById("AD1_in").style.backgroundColor = dataColor[1]
                    document.getElementById("AD2_in").style.backgroundColor = dataColor[2]
                    document.getElementById("AD3_in").style.backgroundColor = dataColor[3]
                    document.getElementById("AD4_in").style.backgroundColor = dataColor[4]
                    document.getElementById("AD5_in").style.backgroundColor = dataColor[5]
                    document.getElementById("AD6_in").style.backgroundColor = dataColor[6]
                    document.getElementById("AD7_in").style.backgroundColor = dataColor[7]
                    document.getElementById("AC0_in").style.backgroundColor = dataColor[8]
                    document.getElementById("AC1_in").style.backgroundColor = dataColor[9]
                    document.getElementById("AC2_in").style.backgroundColor = dataColor[10]
                    document.getElementById("AC3_in").style.backgroundColor = dataColor[11]
                    document.getElementById("AC4_in").style.backgroundColor = dataColor[12]
                    document.getElementById("AC5_in").style.backgroundColor = dataColor[13]
                    document.getElementById("AC6_in").style.backgroundColor = dataColor[14]
                    document.getElementById("AC7_in").style.backgroundColor = dataColor[15]
                    document.getElementById("BD0_in").style.backgroundColor = dataColor[16]
                    document.getElementById("BD1_in").style.backgroundColor = dataColor[17]
                    document.getElementById("BD2_in").style.backgroundColor = dataColor[18]
                    document.getElementById("BD3_in").style.backgroundColor = dataColor[19]
                    document.getElementById("BD4_in").style.backgroundColor = dataColor[20]
                    document.getElementById("BD5_in").style.backgroundColor = dataColor[21]
                    document.getElementById("BD6_in").style.backgroundColor = dataColor[22]
                    document.getElementById("BD7_in").style.backgroundColor = dataColor[23]
                    document.getElementById("BC0_in").style.backgroundColor = dataColor[24]
                    document.getElementById("BC1_in").style.backgroundColor = dataColor[25]
                    document.getElementById("BC2_in").style.backgroundColor = dataColor[26]
                    document.getElementById("BC3_in").style.backgroundColor = dataColor[27]
                    document.getElementById("BC4_in").style.backgroundColor = dataColor[28]
                    document.getElementById("BC5_in").style.backgroundColor = dataColor[29]
                    document.getElementById("BC6_in").style.backgroundColor = dataColor[30]
                    document.getElementById("BC7_in").style.backgroundColor = dataColor[31]
                });
        };

        function getDataJSONIO() {

            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

            $.getJSON($SCRIPT_ROOT+"/getIOJSON").then(
                function(data) {
                    var dataIO = data;
                    var array_is_equal = true;
                    var changed_items = []
                    for(var i = 0; i < Object.keys(dataIO).length; i++){
                        if (dataIO[i] != io[i]){
                            array_is_equal = false;
                            changed_items.push(i);
                        };
                    };
                    io = dataIO;
                    if (array_is_equal == false) {
                        if (Object.keys(io).length == 32) {
                            for(var i = 0; i<changed_items.length; i++){
                                if (io[changed_items[i]] == "output"){
                                    document.getElementById(io_names[changed_items[i]]).innerHTML = '<button id="' + io_names[changed_items[i]] + '_in" onclick="sendJSONButton(this)">' + io_names[changed_items[i]] + '</button>'
                                }
                                else if (io[changed_items[i]] == "input"){
                                    document.getElementById(io_names[changed_items[i]]).innerHTML = '<center><div class="labelInput">' + io_names[changed_items[i]] + '</div><div class="circle" id="' + io_names[changed_items[i]] + '_in"></div></center>'
                                }
                            }
                        }
                    }
                });
        };

        setInterval(function(){
            getDataJSONIO();
            getDataJSONColor();
        },500);

        //setInterval(setColors(),500);
    </script>
</head>
<body>
<center>
<h2>FT2232H Mini Module</h2>
<table>
    <th colspan="2">Interface 1</th>
    <th colspan="2">Interface 2</th>
    <tr>
        <td>AD Board 0</td>
        <td>AC Board 1</td>
        <td>BD Board 2</td>
        <td>BC Board 3</td>
    </tr>
    <th colspan="4">GPIO</th>
    <tr>
        <td>
            <div id="AD0">

            </div>
        </td>
        <td>
            <div id="AC0">

            </div>
        </td>
        <td>
            <div id="BD0">

            </div>
        </td>
        <td>
            <div id="BC0">

            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div id="AD1">

            </div>
        </td>
        <td>
            <div id="AC1">

            </div>
        </td>
        <td>
            <div id="BD1">

            </div>
        </td>
        <td>
            <div id="BC1">

            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div id="AD2">

            </div>
        </td>
        <td>
            <div id="AC2">

            </div>
        </td>
        <td>
            <div id="BD2">

            </div>
        </td>
        <td>
            <div id="BC2">

            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div id="AD3">

            </div>
        </td>
        <td>
            <div id="AC3">

            </div>
        </td>
        <td>
            <div id="BD3">

            </div>
        </td>
        <td>
            <div id="BC3">

            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div id="AD4">

            </div>
        </td>
        <td>
            <div id="AC4">

            </div>
        </td>
        <td>
            <div id="BD4">

            </div>
        </td>
        <td>
            <div id="BC4">

            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div id="AD5">

            </div>
        </td>
        <td>
            <div id="AC5">

            </div>
        </td>
        <td>
            <div id="BD5">

            </div>
        </td>
        <td>
            <div id="BC5">

            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div id="AD6">

            </div>
        </td>
        <td>
            <div id="AC6">

            </div>
        </td>
        <td>
            <div id="BD6">

            </div>
        </td>
        <td>
            <div id="BC6">

            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div id="AD7">

            </div>
        </td>
        <td>
            <div id="AC7">

            </div>
        </td>
        <td>
            <div id="BD7">

            </div>
        </td>
        <td>
            <div id="BC7">

            </div>
        </td>
    </tr>
</table>
</center>
</body>
</html>