<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Setup FT2232H Mini Module {{ ftdi }}</title>
    <style>
        table {
    border:none;
    border-collapse: collapse;
}

table {
    border: 1px solid black;
    padding: 10px;
}
th {
      border: 1px solid black;
      padding: 5px;
}

.labelname {
    border-left: 1px solid #000;
    padding: 10px;
}

.borderyellowleft {
    border-left: 1px solid #0FF;
    padding: 10px;
}

.borderblueleft {
    border-left: 1px solid #0FF;
    border-right: 1px solid #0FF;
    padding: 10px;
}

.borderbluebottom {
    border-bottom: 1px solid #0FF;
    padding: 10px;
}

    </style>
</head>
<body>
<center>
    <h1>Setup Page FT2232H Mini Module {{ ftdi }}</h1>
<form name="myForm" action="/setup/{{ ftdi }}" method="post">

<table>
    <th colspan="6">Interface 1</th>
    <th colspan="6">Interface 2</th>
    <tr>
        <th colspan="3">Board 1 - AD</th>
        <th colspan="3">Board 0 - AC</th>
        <th colspan="3">Board 3 - BD</th>
        <th colspan="3">Board 2 - BC</th>
    </tr>
    <tr>
        <th>GPIO</th>
        <th>Output</th>
        <th>Input</th>
        <th>GPIO</th>
        <th>Output</th>
        <th>Input</th>
        <th>GPIO</th>
        <th>Output</th>
        <th>Input</th>
        <th>GPIO</th>
        <th>Output</th>
        <th>Input</th>
    </tr>

    <!--
    GPIO0
     -->

    <tr>
        <td class="labelname">AD0</td>
        <td class="borderblueleft">
            <center>
            <input type="radio" id="AD0_out", name="AD0_out_in", value="output"{{ check[0]|safe }}>
            </center>
        </td>
        <td>
            <center>
            <input type="radio" id="AD0_in", name="AD0_out_in", value="input"{{ check[1]|safe }}>
            </center>
        </td>
        <td class="labelname">AC0</td>
        <td class="borderblueleft">
            <center>
            <input type="radio" id="AC0_out", name="AC0_out_in", value="output"{{ check[2]|safe }}>
            </center>
        </td>
        <td>
            <center>
            <input type="radio" id="AC0_in", name="AC0_out_in", value="input"{{ check[3]|safe }}>
            </center>
        </td>
        <td class="labelname">BD0</td>
        <td class="borderblueleft">
            <center>
            <input type="radio" id="BD0_out", name="BD0_out_in", value="output"{{ check[4]|safe }}>
            </center>
        </td>
        <td>
            <center>
            <input type="radio" id="BD0_in", name="BD0_out_in", value="input"{{ check[5]|safe }}>
            </center>
        </td>
        <td class="labelname">BC0</td>
        <td class="borderblueleft">
            <center>
            <input type="radio" id="BC0_out", name="BC0_out_in", value="output"{{ check[6]|safe }}>
            </center>
        </td>
        <td>
            <center>
            <input type="radio" id="BC0_in", name="BC0_out_in", value="input"{{ check[7]|safe }}>
            </center>
        </td>
    </tr>
    <tr class="borderbluebottom">
        <td></td>
        <td class="borderblueleft">
            <input type="radio" id="AD0_0", name="AD0_out_01", value="0"{{ check[8]|safe }}>
            <label for="AD0_0">0</label>
            <input type="radio" id="AD0_1", name="AD0_out_01", value="1"{{ check[9]|safe }}>
            <label for="AD0_1">1</label>
        </td>
        <td></td>
        <td class="labelname"></td>
        <td class="borderblueleft">
            <input type="radio" id="AC0_0", name="AC0_out_01", value="0"{{ check[10]|safe }}>
            <label for="AC0_0">0</label>
            <input type="radio" id="AC0_1", name="AC0_out_01", value="1"{{ check[11]|safe }}>
            <label for="AC0_1">1</label>
        </td>
        <td></td>
        <td class="labelname"></td>
        <td class="borderblueleft">
            <input type="radio" id="BD0_0", name="BD0_out_01", value="0"{{ check[12]|safe }}>
            <label for="BD0_0">0</label>
            <input type="radio" id="BD0_1", name="BD0_out_01", value="1"{{ check[13]|safe }}>
            <label for="BD0_1">1</label>
        </td>
        <td></td>
        <td class="labelname"></td>
        <td class="borderblueleft">
            <input type="radio" id="BC0_0", name="BC0_out_01", value="0"{{ check[14]|safe }}>
            <label for="BC0_0">0</label>
            <input type="radio" id="BC0_1", name="BC0_out_01", value="1"{{ check[15]|safe }}>
            <label for="BC0_1">1</label>
        </td>
        <td></td>
    </tr>

    <!--
    GPIO1
     -->

    <tr>
        <td class="labelname">AD1</td>
        <td class="borderblueleft">
            <center>
            <input type="radio" id="AD1_out", name="AD1_out_in", value="output"{{ check[16]|safe }}>
            </center>
        </td>
        <td>
            <center>
            <input type="radio" id="AD1_in", name="AD1_out_in", value="input"{{ check[17]|safe }}>
            </center>
        </td>
        <td class="labelname">AC1</td>
        <td class="borderblueleft">
            <center>
            <input type="radio" id="AC1_out", name="AC1_out_in", value="output"{{ check[18]|safe }}>
            </center>
        </td>
        <td>
            <center>
            <input type="radio" id="AC1_in", name="AC1_out_in", value="input"{{ check[19]|safe }}>
            </center>
        </td>
        <td class="labelname">BD1</td>
        <td class="borderblueleft">
            <center>
            <input type="radio" id="BD1_out", name="BD1_out_in", value="output"{{ check[20]|safe }}>
            </center>
        </td>
        <td>
            <center>
            <input type="radio" id="BD1_in", name="BD1_out_in", value="input"{{ check[21]|safe }}>
            </center>
        </td>
        <td class="labelname">BC1</td>
        <td class="borderblueleft">
            <center>
            <input type="radio" id="BC1_out", name="BC1_out_in", value="output"{{ check[22]|safe }}>
            </center>
        </td>
        <td>
            <center>
            <input type="radio" id="BC1_in", name="BC1_out_in", value="input"{{ check[23]|safe }}>
            </center>
        </td>
    </tr>
    <tr class="borderbluebottom">
        <td></td>
        <td class="borderblueleft">
            <input type="radio" id="AD1_0", name="AD1_out_01", value="0"{{ check[24]|safe }}>
            <label for="AD1_0">0</label>
            <input type="radio" id="AD1_1", name="AD1_out_01", value="1"{{ check[25]|safe }}>
            <label for="AD1_1">1</label>
        </td>
        <td></td>
        <td class="labelname"></td>
        <td class="borderblueleft">
            <input type="radio" id="AC1_0", name="AC1_out_01", value="0"{{ check[26]|safe }}>
            <label for="AC1_0">0</label>
            <input type="radio" id="AC1_1", name="AC1_out_01", value="1"{{ check[27]|safe }}>
            <label for="AC1_1">1</label>
        </td>
        <td></td>
        <td class="labelname"></td>
        <td class="borderblueleft">
            <input type="radio" id="BD1_0", name="BD1_out_01", value="0"{{ check[28]|safe }}>
            <label for="BD1_0">0</label>
            <input type="radio" id="BD1_1", name="BD1_out_01", value="1"{{ check[29]|safe }}>
            <label for="BD1_1">1</label>
        </td>
        <td></td>
        <td class="labelname"></td>
        <td class="borderblueleft">
            <input type="radio" id="BC1_0", name="BC1_out_01", value="0"{{ check[30]|safe }}>
            <label for="BC1_0">0</label>
            <input type="radio" id="BC1_1", name="BC1_out_01", value="1"{{ check[31]|safe }}>
            <label for="BC1_1">1</label>
        </td>
        <td></td>
    </tr>

    <!--
    GPIO2
     -->

    <tr>
        <td class="labelname">AD2</td>
        <td class="borderblueleft">
            <center>
            <input type="radio" id="AD2_out", name="AD2_out_in", value="output"{{ check[32]|safe }}>
            </center>
        </td>
        <td>
            <center>
            <input type="radio" id="AD2_in", name="AD2_out_in", value="input"{{ check[33]|safe }}>
            </center>
        </td>
        <td class="labelname">AC2</td>
        <td class="borderblueleft">
            <center>
            <input type="radio" id="AC2_out", name="AC2_out_in", value="output"{{ check[34]|safe }}>
            </center>
        </td>
        <td>
            <center>
            <input type="radio" id="AC2_in", name="AC2_out_in", value="input"{{ check[35]|safe }}>
            </center>
        </td>
        <td class="labelname">BD2</td>
        <td class="borderblueleft">
            <center>
            <input type="radio" id="BD2_out", name="BD2_out_in", value="output"{{ check[36]|safe }}>
            </center>
        </td>
        <td>
            <center>
            <input type="radio" id="BD2_in", name="BD2_out_in", value="input"{{ check[37]|safe }}>
            </center>
        </td>
        <td class="labelname">BC2</td>
        <td class="borderblueleft">
            <center>
            <input type="radio" id="BC2_out", name="BC2_out_in", value="output"{{ check[38]|safe }}>
            </center>
        </td>
        <td>
            <center>
            <input type="radio" id="BC2_in", name="BC2_out_in", value="input"{{ check[39]|safe }}>
            </center>
        </td>
    </tr>
    <tr class="borderbluebottom">
        <td></td>
        <td class="borderblueleft">
            <input type="radio" id="AD2_0", name="AD2_out_01", value="0"{{ check[40]|safe }}>
            <label for="AD2_0">0</label>
            <input type="radio" id="AD2_1", name="AD2_out_01", value="1"{{ check[41]|safe }}>
            <label for="AD2_1">1</label>
        </td>
        <td></td>
        <td class="labelname"></td>
        <td class="borderblueleft">
            <input type="radio" id="AC2_0", name="AC2_out_01", value="0"{{ check[42]|safe }}>
            <label for="AC2_0">0</label>
            <input type="radio" id="AC2_1", name="AC2_out_01", value="1"{{ check[43]|safe }}>
            <label for="AC2_1">1</label>
        </td>
        <td></td>
        <td class="labelname"></td>
        <td class="borderblueleft">
            <input type="radio" id="BD2_0", name="BD2_out_01", value="0"{{ check[44]|safe }}>
            <label for="BD2_0">0</label>
            <input type="radio" id="BD2_1", name="BD2_out_01", value="1"{{ check[45]|safe }}>
            <label for="BD2_1">1</label>
        </td>
        <td></td>
        <td class="labelname"></td>
        <td class="borderblueleft">
            <input type="radio" id="BC2_0", name="BC2_out_01", value="0"{{ check[46]|safe }}>
            <label for="BC2_0">0</label>
            <input type="radio" id="BC2_1", name="BC2_out_01", value="1"{{ check[47]|safe }}>
            <label for="BC2_1">1</label>
        </td>
        <td></td>
    </tr>

    <!--
    GPIO3
     -->

    <tr>
        <td class="labelname">AD3</td>
        <td class="borderblueleft">
            <center>
            <input type="radio" id="AD3_out", name="AD3_out_in", value="output"{{ check[48]|safe }}>
            </center>
        </td>
        <td>
            <center>
            <input type="radio" id="AD3_in", name="AD3_out_in", value="input"{{ check[49]|safe }}>
            </center>
        </td>
        <td class="labelname">AC3</td>
        <td class="borderblueleft">
            <center>
            <input type="radio" id="AC3_out", name="AC3_out_in", value="output"{{ check[50]|safe }}>
            </center>
        </td>
        <td>
            <center>
            <input type="radio" id="AC3_in", name="AC3_out_in", value="input"{{ check[51]|safe }}>
            </center>
        </td>
        <td class="labelname">BD3</td>
        <td class="borderblueleft">
            <center>
            <input type="radio" id="BD3_out", name="BD3_out_in", value="output"{{ check[52]|safe }}>
            </center>
        </td>
        <td>
            <center>
            <input type="radio" id="BD3_in", name="BD3_out_in", value="input"{{ check[53]|safe }}>
            </center>
        </td>
        <td class="labelname">BC3</td>
        <td class="borderblueleft">
            <center>
            <input type="radio" id="BC3_out", name="BC3_out_in", value="output"{{ check[54]|safe }}>
            </center>
        </td>
        <td>
            <center>
            <input type="radio" id="BC3_in", name="BC3_out_in", value="input"{{ check[55]|safe }}>
            </center>
        </td>
    </tr>
    <tr class="borderbluebottom">
        <td></td>
        <td class="borderblueleft">
            <input type="radio" id="AD3_0", name="AD3_out_01", value="0"{{ check[56]|safe }}>
            <label for="AD3_0">0</label>
            <input type="radio" id="AD3_1", name="AD3_out_01", value="1"{{ check[57]|safe }}>
            <label for="AD3_1">1</label>
        </td>
        <td></td>
        <td class="labelname"></td>
        <td class="borderblueleft">
            <input type="radio" id="AC3_0", name="AC3_out_01", value="0"{{ check[58]|safe }}>
            <label for="AC3_0">0</label>
            <input type="radio" id="AC3_1", name="AC3_out_01", value="1"{{ check[59]|safe }}>
            <label for="AC3_1">1</label>
        </td>
        <td></td>
        <td class="labelname"></td>
        <td class="borderblueleft">
            <input type="radio" id="BD3_0", name="BD3_out_01", value="0"{{ check[60]|safe }}>
            <label for="BD3_0">0</label>
            <input type="radio" id="BD3_1", name="BD0_out_01", value="1"{{ check[61]|safe }}>
            <label for="BD3_1">1</label>
        </td>
        <td></td>
        <td class="labelname"></td>
        <td class="borderblueleft">
            <input type="radio" id="BC3_0", name="BC3_out_01", value="0"{{ check[62]|safe }}>
            <label for="BC3_0">0</label>
            <input type="radio" id="BC3_1", name="BC3_out_01", value="1"{{ check[63]|safe }}>
            <label for="BC3_1">1</label>
        </td>
        <td></td>
    </tr>

    <!--
    GPIO4
     -->

    <tr>
        <td class="labelname">AD4</td>
        <td class="borderblueleft">
            <center>
            <input type="radio" id="AD4_out", name="AD4_out_in", value="output"{{ check[64]|safe }}>
            </center>
        </td>
        <td>
            <center>
            <input type="radio" id="AD4_in", name="AD4_out_in", value="input"{{ check[65]|safe }}>
            </center>
        </td>
        <td class="labelname">AC4</td>
        <td class="borderblueleft">
            <center>
            <input type="radio" id="AC4_out", name="AC4_out_in", value="output"{{ check[66]|safe }}>
            </center>
        </td>
        <td>
            <center>
            <input type="radio" id="AC4_in", name="AC4_out_in", value="input"{{ check[67]|safe }}>
            </center>
        </td>
        <td class="labelname">BD4</td>
        <td class="borderblueleft">
            <center>
            <input type="radio" id="BD4_out", name="BD4_out_in", value="output"{{ check[68]|safe }}>
            </center>
        </td>
        <td>
            <center>
            <input type="radio" id="BD4_in", name="BD4_out_in", value="input"{{ check[69]|safe }}>
            </center>
        </td>
        <td class="labelname">BC4</td>
        <td class="borderblueleft">
            <center>
            <input type="radio" id="BC4_out", name="BC4_out_in", value="output"{{ check[70]|safe }}>
            </center>
        </td>
        <td>
            <center>
            <input type="radio" id="BC4_in", name="BC4_out_in", value="input"{{ check[71]|safe }}>
            </center>
        </td>
    </tr>
    <tr class="borderbluebottom">
        <td></td>
        <td class="borderblueleft">
            <input type="radio" id="AD4_0", name="AD4_out_01", value="0"{{ check[72]|safe }}>
            <label for="AD4_0">0</label>
            <input type="radio" id="AD4_1", name="AD4_out_01", value="1"{{ check[73]|safe }}>
            <label for="AD4_1">1</label>
        </td>
        <td></td>
        <td class="labelname"></td>
        <td class="borderblueleft">
            <input type="radio" id="AC4_0", name="AC4_out_01", value="0"{{ check[74]|safe }}>
            <label for="AC4_0">0</label>
            <input type="radio" id="AC4_1", name="AC4_out_01", value="1"{{ check[75]|safe }}>
            <label for="AC4_1">1</label>
        </td>
        <td></td>
        <td class="labelname"></td>
        <td class="borderblueleft">
            <input type="radio" id="BD4_0", name="BD4_out_01", value="0"{{ check[76]|safe }}>
            <label for="BD4_0">0</label>
            <input type="radio" id="BD4_1", name="BD4_out_01", value="1"{{ check[77]|safe }}>
            <label for="BD4_1">1</label>
        </td>
        <td></td>
        <td class="labelname"></td>
        <td class="borderblueleft">
            <input type="radio" id="BC4_0", name="BC4_out_01", value="0"{{ check[78]|safe }}>
            <label for="BC4_0">0</label>
            <input type="radio" id="BC4_1", name="BC4_out_01", value="1"{{ check[79]|safe }}>
            <label for="BC4_1">1</label>
        </td>
        <td></td>
    </tr>

    <!--
    GPIO5
     -->

    <tr>
        <td class="labelname">AD5</td>
        <td class="borderblueleft">
            <center>
            <input type="radio" id="AD5_out", name="AD5_out_in", value="output"{{ check[80]|safe }}>
            </center>
        </td>
        <td>
            <center>
            <input type="radio" id="AD5_in", name="AD5_out_in", value="input"{{ check[81]|safe }}>
            </center>
        </td>
        <td class="labelname">AC5</td>
        <td class="borderblueleft">
            <center>
            <input type="radio" id="AC5_out", name="AC5_out_in", value="output"{{ check[82]|safe }}>
            </center>
        </td>
        <td>
            <center>
            <input type="radio" id="AC5_in", name="AC5_out_in", value="input"{{ check[83]|safe }}>
            </center>
        </td>
        <td class="labelname">BD5</td>
        <td class="borderblueleft">
            <center>
            <input type="radio" id="BD5_out", name="BD5_out_in", value="output"{{ check[84]|safe }}>
            </center>
        </td>
        <td>
            <center>
            <input type="radio" id="BD5_in", name="BD5_out_in", value="input"{{ check[85]|safe }}>
            </center>
        </td>
        <td class="labelname">BC5</td>
        <td class="borderblueleft">
            <center>
            <input type="radio" id="BC5_out", name="BC5_out_in", value="output"{{ check[86]|safe }}>
            </center>
        </td>
        <td>
            <center>
            <input type="radio" id="BC5_in", name="BC5_out_in", value="input"{{ check[87]|safe }}>
            </center>
        </td>
    </tr>
    <tr class="borderbluebottom">
        <td></td>
        <td class="borderblueleft">
            <input type="radio" id="AD5_0", name="AD5_out_01", value="0"{{ check[88]|safe }}>
            <label for="AD5_0">0</label>
            <input type="radio" id="AD5_1", name="AD5_out_01", value="1"{{ check[89]|safe }}>
            <label for="AD5_1">1</label>
        </td>
        <td></td>
        <td class="labelname"></td>
        <td class="borderblueleft">
            <input type="radio" id="AC5_0", name="AC5_out_01", value="0"{{ check[90]|safe }}>
            <label for="AC5_0">0</label>
            <input type="radio" id="AC5_1", name="AC5_out_01", value="1"{{ check[91]|safe }}>
            <label for="AC5_1">1</label>
        </td>
        <td></td>
        <td class="labelname"></td>
        <td class="borderblueleft">
            <input type="radio" id="BD5_0", name="BD5_out_01", value="0"{{ check[92]|safe }}>
            <label for="BD5_0">0</label>
            <input type="radio" id="BD5_1", name="BD5_out_01", value="1"{{ check[93]|safe }}>
            <label for="BD5_1">1</label>
        </td>
        <td></td>
        <td class="labelname"></td>
        <td class="borderblueleft">
            <input type="radio" id="BC5_0", name="BC5_out_01", value="0"{{ check[94]|safe }}>
            <label for="BC5_0">0</label>
            <input type="radio" id="BC5_1", name="BC5_out_01", value="1"{{ check[95]|safe }}>
            <label for="BC5_1">1</label>
        </td>
        <td></td>
    </tr>

    <!--
    GPIO6
     -->

    <tr>
        <td class="labelname">AD6</td>
        <td class="borderblueleft">
            <center>
            <input type="radio" id="AD6_out", name="AD6_out_in", value="output"{{ check[96]|safe }}>
            </center>
        </td>
        <td>
            <center>
            <input type="radio" id="AD6_in", name="AD6_out_in", value="input"{{ check[97]|safe }}>
            </center>
        </td>
        <td class="labelname">AC6</td>
        <td class="borderblueleft">
            <center>
            <input type="radio" id="AC6_out", name="AC6_out_in", value="output"{{ check[98]|safe }}>
            </center>
        </td>
        <td>
            <center>
            <input type="radio" id="AC6_in", name="AC6_out_in", value="input"{{ check[99]|safe }}>
            </center>
        </td>
        <td class="labelname">BD6</td>
        <td class="borderblueleft">
            <center>
            <input type="radio" id="BD6_out", name="BD6_out_in", value="output"{{ check[100]|safe }}>
            </center>
        </td>
        <td>
            <center>
            <input type="radio" id="BD6_in", name="BD6_out_in", value="input"{{ check[101]|safe }}>
            </center>
        </td>
        <td class="labelname">BC6</td>
        <td class="borderblueleft">
            <center>
            <input type="radio" id="BC6_out", name="BC6_out_in", value="output"{{ check[102]|safe }}>
            </center>
        </td>
        <td>
            <center>
            <input type="radio" id="BC6_in", name="BC6_out_in", value="input"{{ check[103]|safe }}>
            </center>
        </td>
    </tr>
    <tr class="borderbluebottom">
        <td></td>
        <td class="borderblueleft">
            <input type="radio" id="AD6_0", name="AD6_out_01", value="0"{{ check[104]|safe }}>
            <label for="AD6_0">0</label>
            <input type="radio" id="AD6_1", name="AD6_out_01", value="1"{{ check[105]|safe }}>
            <label for="AD6_1">1</label>
        </td>
        <td></td>
        <td class="labelname"></td>
        <td class="borderblueleft">
            <input type="radio" id="AC6_0", name="AC6_out_01", value="0"{{ check[106]|safe }}>
            <label for="AC6_0">0</label>
            <input type="radio" id="AC6_1", name="AC6_out_01", value="1"{{ check[107]|safe }}>
            <label for="AC6_1">1</label>
        </td>
        <td></td>
        <td class="labelname"></td>
        <td class="borderblueleft">
            <input type="radio" id="BD6_0", name="BD6_out_01", value="0"{{ check[108]|safe }}>
            <label for="BD6_0">0</label>
            <input type="radio" id="BD6_1", name="BD6_out_01", value="1"{{ check[109]|safe }}>
            <label for="BD6_1">1</label>
        </td>
        <td></td>
        <td class="labelname"></td>
        <td class="borderblueleft">
            <input type="radio" id="BC6_0", name="BC6_out_01", value="0"{{ check[110]|safe }}>
            <label for="BC6_0">0</label>
            <input type="radio" id="BC6_1", name="BC6_out_01", value="1"{{ check[111]|safe }}>
            <label for="BC6_1">1</label>
        </td>
        <td></td>
    </tr>

    <!--
    GPIO7
     -->

    <tr>
        <td class="labelname">AD7</td>
        <td class="borderblueleft">
            <center>
            <input type="radio" id="AD7_out", name="AD7_out_in", value="output"{{ check[112]|safe }}>
            </center>
        </td>
        <td>
            <center>
            <input type="radio" id="AD7_in", name="AD7_out_in", value="input"{{ check[113]|safe }}>
            </center>
        </td>
        <td class="labelname">AC7</td>
        <td class="borderblueleft">
            <center>
            <input type="radio" id="AC7_out", name="AC7_out_in", value="output"{{ check[114]|safe }}>
            </center>
        </td>
        <td>
            <center>
            <input type="radio" id="AC7_in", name="AC7_out_in", value="input"{{ check[115]|safe }}>
            </center>
        </td>
        <td class="labelname">BD7</td>
        <td class="borderblueleft">
            <center>
            <input type="radio" id="BD7_out", name="BD7_out_in", value="output"{{ check[116]|safe }}>
            </center>
        </td>
        <td>
            <center>
            <input type="radio" id="BD7_in", name="BD7_out_in", value="input"{{ check[117]|safe }}>
            </center>
        </td>
        <td class="labelname">BC7</td>
        <td class="borderblueleft">
            <center>
            <input type="radio" id="BC7_out", name="BC7_out_in", value="output"{{ check[118]|safe }}>
            </center>
        </td>
        <td>
            <center>
            <input type="radio" id="BC7_in", name="BC7_out_in", value="input"{{ check[119]|safe }}>
            </center>
        </td>
    </tr>
    <tr class="borderbluebottom">
        <td></td>
        <td class="borderblueleft">
            <input type="radio" id="AD7_0", name="AD7_out_01", value="0"{{ check[120]|safe }}>
            <label for="AD7_0">0</label>
            <input type="radio" id="AD7_1", name="AD7_out_01", value="1"{{ check[121]|safe }}>
            <label for="AD7_1">1</label>
        </td>
        <td></td>
        <td class="labelname"></td>
        <td class="borderblueleft">
            <input type="radio" id="AC7_0", name="AC7_out_01", value="0"{{ check[122]|safe }}>
            <label for="AC7_0">0</label>
            <input type="radio" id="AC7_1", name="AC7_out_01", value="1"{{ check[123]|safe }}>
            <label for="AC7_1">1</label>
        </td>
        <td></td>
        <td class="labelname"></td>
        <td class="borderblueleft">
            <input type="radio" id="BD7_0", name="BD7_out_01", value="0"{{ check[124]|safe }}>
            <label for="BD7_0">0</label>
            <input type="radio" id="BD7_1", name="BD7_out_01", value="1"{{ check[125]|safe }}>
            <label for="BD7_1">1</label>
        </td>
        <td></td>
        <td class="labelname"></td>
        <td class="borderblueleft">
            <input type="radio" id="BC7_0", name="BC7_out_01", value="0"{{ check[126]|safe }}>
            <label for="BC7_0">0</label>
            <input type="radio" id="BC7_1", name="BC7_out_01", value="1"{{ check[127]|safe }}>
            <label for="BC7_1">1</label>
        </td>
        <td></td>
    </tr>
</table>
    <input type=submit value=Apply></p>
</form>
</center>
</body>
</html>